/* Isa Genzken */

body {
  margin: 50px;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

.series{
    position: relative;
    font-size: 50px;
    top: 2px;
    float: center;
    text-align: center;
    text-transform: uppercase;
    z-index:5;
}

.video{
  position: absolute;
  width:50%;
  top:100px;
  left: 27%;
}

.artist{ 
    position: absolute;
    font-size: 120px;
    top: 400px;
    color: #FFCB0C;
    text-transform: uppercase;
    float: right;
    text-align: right;
    right: 20px;
    text-align: center;
}

.artist:hover{
  color:#fff;
  background-color:#000;
  font-style:italic;
}
.title{
  position: absolute;
  font-size: 120px;
  top: 510px;
  float: right;
  text-align: right;
  right: 20px;

}

.info{
  position: absolute;
  font-size: 80px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 300;
  text-align: right;
  top:640px;
  margin-left: auto;
  margin-right: auto;
}

img{
  max-width: 300px;
}

