/* Elizabeth Peyton */

body {
  margin: 50px;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

.series,
.artist,
.title, {
  font-size: 80px;
  color: #412B66 ;
}
.date,
.time,
.location {
  font-size: 80px;
  line-height: 1;
}