/* Dana Schutz */

body {
  margin: 50px;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  background-image: url("ds22.jpg");
  background: linear-gradient(to right, #e8f7ec , #b6edc6); 
  text-align: center;
}

.wrapper {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding-top: 600px;
  
}

.series {
  font-size: 50px;
  font-family: 'Crushed', cursive;
  line-height: 1;
  text-align:center;
}
.artist {
  font-size: 230px;
  font-family: 'Crushed', cursive;
  line-height: 1;
  animation: blink 2s linear infinite;
  
}

.artist:hover {
  color: pink;
}

@keyframes blink{
  0%{opacity: 0;}
  50%{opacity: .5;}
  100%{opacity: 2;}
  }

.img {
  width: 100%;
}

img:hover {
  filter: invert();
}

.title {
  font-size: 50px;
  font-family: 'Crushed', cursive;
}

.date,
.time,
.location {
  font-size: 90px;
  font-family: 'Crushed', cursive;
  line-height: 1;
  text-align:left;
}

.emmit {
  width: 30px;
  height: 30px;
  margin: 20px 0;
  position: absolute;
  display: inline-block;
 
}

emmit:hover {
  filter: invert();
}

a {
  font-size: 20px;
  font-family: 'Crushed', cursive;
  line-height: 1;
}

