/* Anicka Yi */

body {
  margin: 50px;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

.series
.artist
.title
.date
.time
.location {
  font-size: 100px;
  line-height: 1;
}

.petriDish {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  height: 100vh;
  opacity: 0.7;
}

.petriDish img {
  height: 100%;
}

.yi_image1 {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  height: 100vh;
  opacity: 0.7;
}
.infoWrapper {
  position: absolute;
  z-index: 10;
}

.series {
  color: #f7b23b; 
  font-family: 'Crushed', cursive;
  font-family: 'Bungee Outline', cursive;
  font-size: 200px;
}

.artist {
  color: #db5304;
  font-family: 'Crushed', cursive;
font-family: 'Bungee Outline', cursive;
font-family: 'Bungee', cursive;
}

.date{
  margin-left: 40vw;
  font-family: 'Crushed', cursive;
font-family: 'Bungee Outline', cursive;
font-family: 'Bungee', cursive;
}
.time{
  margin-left: 40vw;
  font-family: 'Crushed', cursive;
font-family: 'Bungee Outline', cursive;
font-family: 'Bungee', cursive;


}
.location {
  margin-left: 40vw;
  font-size: 70px;
  font-family: 'Crushed', cursive;
font-family: 'Bungee Outline', cursive;
font-family: 'Bungee', cursive;

}

.weird-shape {
  top: 400px;
  position: relative;
}

.shape1{
  position: fixed;
  top: 80px;
  width: 200px;
	height: 100px;
  background: red;
  border-radius: 50%; 
  width: 100px;
  height: 100px;
  background: #333;
  animation-name: square1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  top: 10px;
  left: 10px;
}

@keyframes square1{
from {background: orange;}
to {background: red;}
}
  

.shape2 {
  width: 400px;
	height: 300px;
  background:green;
  position: fixed;
  border-radius: 50%;
  left: 180px;
}

.shape3 {
  width: 800px;
	height: 600px;
  background:turquoise;
  position: fixed;
  border-radius: 50%;
  left: 180px;
}
