/* Cao Fei */

body {
  margin: 50px;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  background: #ff0000;
  text-align: center;

}

.series,
.artist,
.website,
.title,
.date,
.time,
.location {
  font-size: 100px;
  line-height: 1;
}

.artist{
  color:#fff;
  text-transform:uppercase;
}

.artist:hover{
  background: #000;
  font-size:130px;
}

.cao{
  display:none;
}

.artist{
  font-style: italic;
  font-size: 200px;
  font-family: 'Times New Roman', Times, serif;
}