/* Cao Fei */

body {
  margin: 50px;
  padding: 0;

  font-family: Courier New, Courier, monospace;
  color: lightskyblue;
  font-style: oblique;
}

a,
.series,
.artist,
.website,
.title,
.date,
.time,
.location {
  color:#fff;
  opacity: 0;
  text-transform:uppercase;
  font-size: 75px;
  line-height: .75;
}

.series:hover,
.artist:hover,
.website:hover,
.title:hover,
.date:hover,
.time:hover,
.location:hover {
  opacity: 1;
  background: #000;
}


.cao{
  display:none;
}

.artist{
  font-style: italic;
  font-size: 200px;
  font-family: 'Times New Roman', Times, serif;
}

.contentWrapper {
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0px;
}