/* Rosemarie Trockel */

body {
  margin: 50px;
  padding: 0;
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-family:'Germania One', cursive;

  text-align: center;
  color: #fff;
  background: linear-gradient(-90deg, #009,#000)
}

.head {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  display: table;
  width: 100%; 
  table-layout: fixed; 
  border-spacing: 10px; 
}

.Column{
    display: table-cell;
    background-color: red; 
}

.intro{
  font-size: 50px;
  margin: 50px 0;
  font-size: 30px;
}

.content{
  font-size:25px;
}

.foot {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  display: table;
  width: 100%; 
  table-layout: fixed; 
  border-spacing: 10px; 
  margin: 60px 0;
  color: white;

}

ul{
  list-style: none;
}

.Column2{
  display: table-cell;
  background-color: red;
}
.drip1:hover{
  transform:rotate(-10deg);
}
.drip2:hover{
  transform: rotate(10deg);
}

.drip3:hover{
  transform: rotate(10deg);
}

.quote{
  font-size: 125px;
  color: yellow;
  animation: blink-animation .2s steps(3,start) infinite;
  -webkit-animation: blink-animation .2s steps(3,start) infinite;
}


@keyframes blink-animation{
  100%{
    visibility: hidden;
  }
}