/* Rachel Harrison */

body {
  margin: 50px;
  padding: 0;
  font-family: roboto;
  align-content: center; 
  text-align: center;
  background-color: black;
  
}

.series,
.artist,
.title,
.date,
.time,
.location {
  font-size: 100px;
  line-height: 1.5;
}

.artist{
  text-decoration: underline;
  text-transform: uppercase;
}

.a {
  text-decoration: none;
  color: white;
  text-align:center;
}

a:hover {
  color: white;
}

.header {
margin-bottom: 50px;
left: 300px;
width: 500px;
height: 50px;
background-color: black;
color: white;
padding-top: 10px;
padding-left: 10px;
padding-right: 10px;
}

.title{
  margin: 30px 0;
  color: white;
  transition: .5s ease;
  text-shadow: 0px 0px 10px blue,
  0px 0px 20px blue,
  0px 0px 30px blue,
  0px 0px 40px blue,
  0px 0px 50px blue,
  0px 0px 60px blue;
}

.title:hover{
	color: black;
}

.foot{
  color:white;
}

img:hover{
    filter: gray; 
    -webkit-filter: grayscale(1);
    -webkit-transition: all .8s ease-in-out;
}