/* Jutta Koether */

body {
  margin: 50px;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(207, 80, 80);
  animation: bgPulse 3s infinite;
  animation-direction: alternate-reverse;
  text-align: center
}

.series,
.artist,
.title,
.date,
.time,
.location {
  font-size: 100px;
  line-height: 1.1;
}

.book {
  width: 130px;
  height: 195px;
  background: url("assets/img/book3.jpg") no-repeat;
  margin: 50px;

}

.book:hover {
    background: url("assets/img/book3.jpg") no-repeat;
}

@keyframes bgPulse {
  from {background: black;}
  to {background: #fff;}
}