/* Anne Imhof */

body {
  margin: 50px;
  padding: 10;
  font-family: 'Cinzel', serif;
  font-weight: 400;
  color: white;
  background-color: rgba(65, 121, 185, 0.699);
  background-image: url('https://static2.giessener-allgemeine.de/storage/image/4/7/2/9/329274_artdetail_1orZxs_S7YReh.jpg');
  background-blend-mode: multiply;
  
}

.text {
  position: relative;
  margin:100px;
}

.series{

}
.artist {
  font-size: 100px;
}

.title
.date
.time
.location {
  font-size: 100px;
  line-height: 2;
}

.series,
.date,
.time,
.location {
  text-decoration: line-through;
}


.dior {
  margin: 100px;
  text-align: center;
  font-family: 'helvetica';
  font-size: 100px;
  border: solid 12px #3D3D3D;
  width: 600px;
}

a {
  text-decoration: none;
  color: #3D3D3D;
}

a:hover {
  color:skyblue;
}

.triangle {
  height: 0;
  width: 0;
  border-left: 100px solid white;
  border-right: 100px solid transparent;
  border-bottom: 100px solid transparent;
  border-top: 100px solid transparent;
}