/* Anne Imhof */

body {
  margin: 50px;
  padding: 0;
  font-family: Veranda;
  background-color: gray;
  
}

.series,
.artist,
.title,
.date,
.time,
.location {
  font-size: 100px;
  line-height: 1;
}